#holst{
   display: block;
   margin: 0 auto;
   border: 3px solid blue;
   display: none;
}
body{
	background: radial-gradient(green, yellow);
	padding: 50px;
}
.start{
   width: 1200px;
   height: 600px;
   margin: 0 auto;
   border: 3px solid blue;
}
button{
   width: 300px;
   height: 100px;
   display: block;
   margin: 200px auto;
   background: blue;
   border-radius: 5%;
}
h1{
   text-align: center;
   color: blue;
}
p{
   margin-top: 20px;
   font-size: 32px;
   text-decoration: underline;
   text-align: center;
}